*{
    margin: 0;
    padding: 0;
}
body{	
    background-color: white;
}

header{
	height: 120px;
}

div#header-top{
	height: 90px;
}

div#header-bottom{
	height: 30px;
}

button#menu{
	width: 150px;
	height: 30px;
	background-color: rgba(255, 255, 255, 0);
	left: 10%;
}

img#logo{
	top: 55%;
    left: 20%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    user-select: none;
    max-width: 100%;
    max-height: 100%;
}

div#loginYcesta{
	width: 50px;
	height: 30px;
}

/*CLASES*/
.headers{
	position: absolute;
	background-color: rgba(204, 255, 255, 0);
	width: 100%;
	margin-top: 0;
	border-bottom: 1px solid black;
}

.headers > *{
	position: relative;
}

